.x-main-wrapper {
	height: 100vh;
	width: 100vw;
	background: rgb(202, 184, 132);
	background: linear-gradient(90deg, rgba(202, 184, 132, 1) 0%, rgba(202, 184, 132, 1) 15%, rgba(241, 230, 179, 1) 50%, rgba(202, 184, 132, 1) 85%, rgba(202, 184, 132, 1) 100%);
}