/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}



// === GLOBAL CONVENIENCE STYLES ==============================================
.align-items-center {
	align-items: center !important;
}

.d-flex {
	display: flex !important;
}

.flex-column {
	flex-direction: column !important;
}

.flex-row {
	flex-direction: row !important;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-right {
	justify-content: right;
}

.mat-submit-btn-color:not(:disabled) {
	background-color: #1B5E20 !important;
	color: #ffffff !important;
}

.mat-alt-btn-color:not(:disabled) {
	background-color: #E65100 !important;
	color: #ffffff !important;
}

.mat-danger-btn-color:not(:disabled) {
	background-color: #B71C1C !important;
	color: #ffffff !important;
}

mat-tab-group.x-invisible-tab-header>mat-tab-header {
	display: none;
}

.x-spinner-container {
	position: fixed;
	top: 64px;
	height: calc(100vh - 64px);
	width: 100vw;
	background-color: #cccccc44;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
}

.x-handset-spinner {
	top: 56px;
	height: calc(100vh - 56px);
}

.mat-drawer-content {
	background-color: white;
}